In [1]:
import pandas as pd
import seaborn as sns
from openpyxl import Workbook
from openpyxl.chart import BarChart, Reference
from openpyxl.drawing.image import Image
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl.utils import get_column_letter
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl.worksheet.table import Table, TableStyleInfo
from openpyxl.styles import PatternFill

Give them a regular expression to try to match?

Drop missing values from the dataset? Check out how many there are?

Insert the resulting dataset as a table

Insert a Python stripplot

Convert it to a table?

Basic conditional formatting?

https://chat.openai.com/share/69e252cf-16ff-484a-ac36-4068045970a2

In [3]:
websites = pd.read_excel('../datasets/websites.xlsx')
websites.head()

                        URL    Category  Rating  Visitors
0   https://www.example.com        News     4.5   10000.0
1    https://www.invalidurl  Technology     3.2    5000.0
2    https://www.openai.org     Finance     4.8   20000.0
3  https://www.example2.com   Education     4.2   15000.0
4   https://www.invalidurl2        News     2.9    3000.0

In [5]:
websites.shape

(34, 4)

In [7]:
url_pattern = r'^(?:(?:https?|ftp):\/\/)?(?:www\.)?[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}(?:\/[^\s]*)?$'

valid_urls = websites[websites['URL'].str.contains(url_pattern)]
valid_urls.shape

(28, 4)

In [8]:
valid_urls.isnull().mean().sort_values(ascending=False)

Visitors    0.107143
Rating      0.071429
URL         0.000000
Category    0.000000
dtype: float64

In [10]:
complete_cases = valid_emails.dropna()
complete_cases.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24 entries, 0 to 31
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   URL       24 non-null     object
 1   Category  24 non-null     object
 2   Rating    24 non-null     float64
 3   Visitors  24 non-null     float64
dtypes: float64(2), object(2)
memory usage: 960.0+ bytes

# Transfer results to Excel

In [11]:
wb = Workbook()

ws = wb.active

In [ ]:
ws['A1'] = 'Total number of websites'
ws['B1'] = len(complete_cases)

In [ ]:
ws['A2'] = 'Total number of visitors'
ws['B2'] = round(complete_cases['Visitors'].sum())

In [ ]:
ws['A3'] = 'Average number of visitors'
ws['B3'] = round(complete_cases['Rating'].mean(), 2)

In [17]:
# Widen Column A

In [18]:
# Apply thousands separator format to `B2`

In [19]:
# Add data as to new worksheet

In [20]:
# Format rows with rating greater than 4 as green

In [21]:
# Add Excel scatterplot comparing Rating and Visitors

In [ ]:
# Add Python scatterplot comparing Rating and Visitors

In [ ]:
# Autofit the widths of the data table