In [1]:

Certainly! Let's create a synthetic dataset related to e-commerce data, specifically focusing on customer behavior and product reviews. Here's the modified script:

python
Copy code
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Set a random seed for reproducibility
np.random.seed(42)

# Generate a time series index
date_rng = pd.date_range(start='2020-01-01', end='2020-12-31', freq='D')

# Create a DataFrame with date index
df = pd.DataFrame(date_rng, columns=['date'])

# Generate numerical features
num_features = ['product_price', 'quantity_purchased', 'customer_rating']
for feature in num_features:
    df[feature] = np.random.uniform(10, 500, size=len(date_rng))

# Generate categorical features
categories = ['product_category', 'customer_segment']
product_categories = ['Electronics', 'Clothing', 'Books', 'Home Appliances']
customer_segments = ['Regular', 'Premium', 'VIP']

df['product_category'] = np.random.choice(product_categories, size=len(date_rng))
df['customer_segment'] = np.random.choice(customer_segments, size=len(date_rng))

# Introduce missing values
for feature in num_features + categories:
    missing_mask = np.random.rand(len(date_rng)) < 0.2  # 20% missing values
    df.loc[missing_mask, feature] = np.nan


df.to_excel('ecommerce.xlsx', Index=False)

,date,product_price,sales_quantity,revenue,product_category,region
0,2020-01-01,380.794718,961.578658,668.545248,NaN,West
1,2020-01-02,NaN,906.297136,527.834771,NaN,North
2,2020-01-03,734.674002,203.833223,365.242179,Clothing,South
3,2020-01-04,602.671899,78.667688,878.428535,Electronics,West
4,2020-01-05,164.458454,109.770221,398.520656,Electronics,NaN

In [2]:
df.to_excel('ch_12_sales.xlsx', index=False)