In [1]:
import pandas as pd
df = pd.read_excel('contestants_cleaned.xlsx')

In [2]:
df.style

In [4]:
# Highlight all tips over 3 as green
def highlight_cells(val):
    color = 'green' if val > 500 else ''
    return 'background-color: {}'.format(color)

# How to apply to just one column???
df.style.applymap(highlight_cells, subset=pd.IndexSlice[:, ['post']])

In [11]:
# Highlight the entire row as green if over 5, yellow if over 3, nothing if else

def highlight_rows(row):
    value = row.loc['post']
    if value > 500:
        color = '#90EE90' # Green
    elif value > 475:
        color = '#ffffe0' # Yellow
    else:
        color = '#fffff' # Blank
    return ['background-color: {}'.format(color) for r in row]

df.style.apply(highlight_rows, axis=1)

In [18]:
pre_mean = round(df['pre'].mean(), 1)
pre_mean

480.7

In [19]:
post_mean = round(df['post'].mean(), 1)
post_mean

481.2