In [1]:
import pandas as pd
contestants = pd.read_excel('contestants.xlsx')

In [2]:
contestants.head()

,EMAIL,COHORT,PRE,POST,AGE,SEX,EDUCATION,SATISFACTION,STUDY_HOURS
0,smehaffey0@creativecommons.org,4,485,494,32,Male,Bachelor's,2,36.6
1,dbateman1@hao12@.com,4,462,458,33,Female,Bachelor's,8,22.4
2,bbenham2@xrea.com,3,477,483,33,Female,Bachelor's,1,19.8
3,mwison@@g.co,2,480,488,31,Female,Bachelor's,10,33.1
4,jagostini4@wordpress.org,1,495,494,38,Female,Bachelor's,9,32.5

In [3]:
# Convert headers to all lowercase

contestants.columns = contestants.columns.str.lower()
contestants.head()

,email,cohort,pre,post,age,sex,education,satisfaction,study_hours
0,smehaffey0@creativecommons.org,4,485,494,32,Male,Bachelor's,2,36.6
1,dbateman1@hao12@.com,4,462,458,33,Female,Bachelor's,8,22.4
2,bbenham2@xrea.com,3,477,483,33,Female,Bachelor's,1,19.8
3,mwison@@g.co,2,480,488,31,Female,Bachelor's,10,33.1
4,jagostini4@wordpress.org,1,495,494,38,Female,Bachelor's,9,32.5

In [4]:
# Define a regular expression pattern for valid email addresses
email_pattern = r'^[a-z0-9]+[\._]?[a-z0-9]+[@]\w+[.]\w{2,3}$'

In [5]:
full_emails = contestants[contestants['email'].str.contains(email_pattern)]

In [6]:
full_emails.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82 entries, 0 to 99
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   email         82 non-null     object
 1   cohort        82 non-null     int64
 2   pre           82 non-null     int64
 3   post          82 non-null     int64
 4   age           82 non-null     int64
 5   sex           82 non-null     object
 6   education     82 non-null     object
 7   satisfaction  82 non-null     int64
 8   study_hours   82 non-null     float64
dtypes: float64(1), int64(5), object(3)
memory usage: 6.4+ KB

In [7]:
# What percent of each column are missing?
full_emails.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82 entries, 0 to 99
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   email         82 non-null     object
 1   cohort        82 non-null     int64
 2   pre           82 non-null     int64
 3   post          82 non-null     int64
 4   age           82 non-null     int64
 5   sex           82 non-null     object
 6   education     82 non-null     object
 7   satisfaction  82 non-null     int64
 8   study_hours   82 non-null     float64
dtypes: float64(1), int64(5), object(3)
memory usage: 6.4+ KB

In [8]:
# Sort by percentage
full_emails.isnull().mean().sort_values(ascending=False)

email           0.0
cohort          0.0
pre             0.0
post            0.0
age             0.0
sex             0.0
education       0.0
satisfaction    0.0
study_hours     0.0
dtype: float64

In [9]:
# Drop missing values
complete_cases = full_emails.dropna()
complete_cases.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82 entries, 0 to 99
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   email         82 non-null     object
 1   cohort        82 non-null     int64
 2   pre           82 non-null     int64
 3   post          82 non-null     int64
 4   age           82 non-null     int64
 5   sex           82 non-null     object
 6   education     82 non-null     object
 7   satisfaction  82 non-null     int64
 8   study_hours   82 non-null     float64
dtypes: float64(1), int64(5), object(3)
memory usage: 6.4+ KB

In [10]:
# Write to Excel

complete_cases.to_excel('contestants_cleaned.xlsx', index=False)